{% extends 'router/base.html' %}
{% block content %}
    <div class="content-section">
        <h2 class="border-bottom">How to Use EverPro V2.0 Smartlink</h2>
        <ul class="content-section">
            <br/>
            <li>Enter your Business Website URL in the <strong>Original url</strong> field and then create a unique key in the
            	<strong>key</strong> field.</li>
            <br/>
            <li>Make sure to add <strong>https://</strong> before any URL</li>
        </ul>
    </div>
{% endblock content %}